
    <div class="c-actions" id="actions">
        <article class="o-article js-fadeInChildren">
            <h2 class="">Nasze działania sprawią, że</h2>
            
            <ol>
                <li>
                    <h5>Lepiej poznasz ścieżkę klienta</h5>
                    <p>Określimy jakie kroki muszą wykonać klienci chcący skorzystać z Twojej oferty. Pomożemy Ci lepiej zrozumieć ich oczekiwania. Zaprojektujemy proces sprzedaży w internecie, dzięki któremu klienci 
z&nbsp;łatwością będą do Ciebie trafiać.</p>
                </li>
                
                <li>
                    <h5>Zoptymalizujesz budżet marketingowy</h5>
                    <p>Skutecznie dobierzemy narzędzia, cele i formaty reklamowe. Dzięki reklamom dobranym do grupy docelowej i konwertującej kreacji zwiększymy liczbę zapytań o twoje usługi lub produkty. Działamy 
w&nbsp;różnych systemach reklamowych między innymi 
w&nbsp;Google Ads, Facebook, Instagram, czy LinkedIn.</p>
                </li>
                
                <li>
                    <h5>Zdobędziesz nowych klientów</h5>
                    <p>Wdrożone działania sprawią, że klienci będą do ciebie wracać, a nowi sami cię znajdą. 
Przestaniesz martwić się o nowe leady i spokojnie zajmiesz się rozwojem swojego biznesu/produktu/usługi.</p>
                </li>
            </ol>
            
            <h3>Osiągniesz <u>wyższe wyniki sprzedażowe</u>, bez konieczności zatrudniania kolejnego sprzedawcy</h3>
        </article>
        
        <div class="c-actions__cta">
            <a href="#contact" class="o-btn o-btn--blue js-goto">Zapytaj o szczegóły</a>
            <span>lub</span>
            <a href="#" class="o-btn o-btn--brownoutline">Dowiedz się więcej</a>
        </div>
    </div>
