
    <div class="c-benefits ">
            
        <h2 class="o-lead--2 aligncenter js-fadeIn">Zobacz co otrzymasz w&nbsp;ramach usługi</h2>
        
        <ul class="c-benefits__list">
            <li>
                <i class="icon-audit"></i>
                <p><strong>Audyt</strong> działań w&nbsp;internecie</p>
            </li>
            
            <li>
                <i class="icon-changes"></i>
                <p><strong>Rekomendacje</strong> zmian indywidualnie dobrane do twojej firmy</p>
            </li>
            
            <li>
                <i class="icon-consultation"></i>
                <p><strong>Konsultację</strong> online z&nbsp;naszym specjalistą</p>
            </li>
            
            <li>
                <i class="icon-strategy"></i>
                <p><strong>Strategię</strong> wzmacniającą sprzedaż</p>
            </li>
            
            <li>
                <i class="icon-harmonogram"></i>
                <p><strong>Harmonogram</strong>, pozwalający zrealizować kamienie milowe strategii</p>
            </li>
            
            <li>
                <i class="icon-implementation"></i>
                <p><strong>Wdrożenie</strong> kampanii reklamowej online</p>
            </li>
            
            <li>
                <i class="icon-optimization"></i>
                <p>Ciągłą <strong>optymalizację</strong> kampanii</p>
            </li>
        </ul>

        <div class="c-benefits__cta js-fadeIn">
            <h4 class="o-lead--3">Zacznij działać już teraz i&nbsp;skontaktuj się z&nbsp;nami!</h4>
            
            <a href="#contact" class="o-btn o-btn--blue js-goto">Skontaktuj się</a>
        </div>
    </div>
