    
        <div class="c-contact">
            <div class="o-cols">
                
                <div class="o-cols__item">
                    <div class="o-cols__content">
                        <div class="c-contact__lead js-fadeInChildren">
                            
                            <h3>Wypełnij formularz, skontaktujemy się z&nbsp;Tobą</h3>
                            
                            <figure class="c-contact__details">
                                <img src=<%= require("./img/assets/contact.svg") %> width="189" height="189" alt="">
                                
                                <figcaption>
                                    <p>Możesz też napisać do nas na<br>
                                       <a href="mailto:hello@brandhub.pl">hello@brandhub.pl</a></p>
                                    
                                    <p>Wolisz rozmawiać? Dzwoń śmiało<br> 
i&nbsp;umów się na spotkanie<br>
<a href="tel:0048609987860">+ 48 609 987 860</a></p>
                                </figcaption>
                            </figure>
                            
                        </div>
                    </div>
                    
                    <div class="c-contact__bottom is-desktop">
                        <div class="c-contact__social">
                            <p>Znajdź nas na:</p>
                            <ul>
                                <li>
                                    <a href="#">LinkedIn</a>
                                </li>
                                
                                <li>
                                    <a href="#">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="o-cols__item">
                    <div class="o-cols__content">
                        <% include contact-form %>
                        <div class="strokes"></div>
                    </div>
                    
                    <div class="c-contact__bottom">
                        <div class="is-mobile">
                            <div class="c-contact__social">
                                <p>Znajdź nas na:</p>
                                <ul>
                                    <li>
                                        <a href="#">LinkedIn</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Intagram</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
