
    <div class="c-distinctions js-fadeInChildren">
            
        <h2 class="o-lead--2 aligncenter">Co nas wyróżnia?</h2>
        
        <div class="swiper-container js-distinctionsSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <figure>
                    	<img 
                    	     srcset="./img/service/image-1.jpg 1x, ./img/service/image-1@2x.jpg 2x"
                             src="./img/service/image-1.jpg" alt="">
                    </figure>
                </div>
                
                <div class="swiper-slide swiper-slide--brown">
                    <figure>
                    	<img 
                    	     srcset="./img/distinctions/image-2.jpg 1x, ./img/distinctions/image-2@2x.jpg 2x"
                             src="./img/distinctions/image-2.jpg" alt="">
                             
                        <figcaption>
                            <div>
                                <span class="num">05</span>
                                <p>Skutecznie pracujemy zdalnie</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                
                <div class="swiper-slide swiper-slide--blue">
                    <figure>
                    	<img 
                    	     srcset="./img/distinctions/image-1.jpg 1x, ./img/distinctions/image-1@2x.jpg 2x"
                             src="./img/distinctions/image-1.jpg" alt="">
                             
                        <figcaption>
                            <div>
                                <span class="num">06</span>
                                <p>Gwarantujemy stałe konsultacje online oraz optymalizację wyników</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                
               
               
                <div class="swiper-slide">
                    <figure>
                    	<img 
                    	     srcset="./img/service/image-1.jpg 1x, ./img/service/image-1@2x.jpg 2x"
                             src="./img/service/image-1.jpg" alt="">
                    </figure>
                </div>
                
                <div class="swiper-slide swiper-slide--brown">
                    <figure>
                    	<img 
                    	     srcset="./img/distinctions/image-2.jpg 1x, ./img/distinctions/image-2@2x.jpg 2x"
                             src="./img/distinctions/image-2.jpg" alt="">
                             
                        <figcaption>
                            <div>
                                <span class="num">05</span>
                                <p>Skutecznie pracujemy zdalnie</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                
                <div class="swiper-slide swiper-slide--blue">
                    <figure>
                    	<img 
                    	     srcset="./img/distinctions/image-1.jpg 1x, ./img/distinctions/image-1@2x.jpg 2x"
                             src="./img/distinctions/image-1.jpg" alt="">
                             
                        <figcaption>
                            <div>
                                <span class="num">06</span>
                                <p>Gwarantujemy stałe konsultacje online oraz optymalizację wyników</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                
                
            </div>
        </div>

        <div class="c-distinctions__nav">
            <div class="swiper-pagination"></div>
            
            <div class="arrows">
                <div class="swiper-button-prev icon-arrow-scroll"></div>
                <div class="swiper-button-next icon-arrow-scroll"></div>
            </div>
        </div>
    </div>
