
    <div class="c-distinctions js-fadeInChildren">
            
        <h2 class="o-lead--2 aligncenter">Co nas wyróżnia?</h2>
        
        <div class="swiper-container js-distinctionsSlider">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide swiper-slide--01">
                    <figure class="circle">
                    	<img 
                    	     srcset="./img/distinctions/image-01.jpg 1x, ./img/distinctions/image-01@2x.jpg 2x"
                             src="./img/distinctions/image-01.jpg" alt="">
                             
                             <figcaption class="brown">
                                <div>
                                    <span class="num">01</span>
                                    <p>Pracujemy w oparciu o sprawdzone metody i&nbsp;narzędzia z zakresu Service Design</p>
                                </div>
                            </figcaption>
                    </figure>                    
                </div>
                
                <div class="swiper-slide swiper-slide--02">
                    <figure>
                    	<img 
                    	     srcset="./img/distinctions/image-02.jpg 1x, ./img/distinctions/image-02@2x.jpg 2x"
                             src="./img/distinctions/image-02.jpg" alt="">
                             
                             <figcaption class="blue strokes">
                                <div>
                                    <span class="num">02</span>
                                    <p>Przygotowujemy ścieżkę klienta korzystając z Customer Journey Map</p>
                                </div>
                            </figcaption>
                    </figure>                    
                </div>
                
                <div class="swiper-slide swiper-slide--03">
                    <figure class="circle">
                    	<img 
                    	     srcset="./img/distinctions/image-03.jpg 1x, ./img/distinctions/image-03@2x.jpg 2x"
                             src="./img/distinctions/image-03.jpg" alt="">
                             
                        <figcaption class="blue">
                            <div>
                                <span class="num">03</span>
                                <p>Tworzymy zespół pasjonatów różnych specjalizacji</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                
                <div class="swiper-slide swiper-slide--04">
                    <figure>
                        <img 
                    	     srcset="./img/distinctions/image-04.jpg 1x, ./img/distinctions/image-04@2x.jpg 2x"
                             src="./img/distinctions/image-04.jpg" alt="">
                             
                        <figcaption class="blue-light">
                            <div>
                                <span class="num">04</span>
                                <p>Mamy wieloletnie doświadczenie w pracy zarówno dla dużych korporacji, jak i dla firm stawiających swoje pierwsze kroki</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                
                <div class="swiper-slide swiper-slide--05">
                    <figure>
                        <img 
                    	     srcset="./img/distinctions/image-05.jpg 1x, ./img/distinctions/image-05@2x.jpg 2x"
                             src="./img/distinctions/image-05.jpg" alt="">
                             
                        <figcaption class="brown">
                            <div>
                                <span class="num">05</span>
                                <p>Skutecznie pracujemy zdalnie</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                
                <div class="swiper-slide swiper-slide--06">
                    <figure>
                        <img 
                    	     srcset="./img/distinctions/image-06.jpg 1x, ./img/distinctions/image-06@2x.jpg 2x"
                             src="./img/distinctions/image-06.jpg" alt="">
                             
                        <figcaption class="blue strokes">
                            <div>
                                <span class="num">06</span>
                                <p>Gwarantujemy stałe konsultacje online oraz optymalizację wyników</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>


<!--
                
                

                <div class="swiper-slide swiper-slide--brown">
                    <figure>
                    	<img 
                    	     srcset="./img/distinctions/image-05.jpg 1x, ./img/distinctions/image-05@2x.jpg 2x"
                             src="./img/distinctions/image-2.jpg" alt="">
                             
                        <figcaption>
                            <div>
                                <span class="num">05</span>
                                <p>Skutecznie pracujemy zdalnie</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
-->
            </div>
        </div>

        <div class="c-distinctions__nav">
            <div class="swiper-pagination"></div>
            
            <div class="arrows">
                <div class="swiper-button-prev icon-arrow-scroll"></div>
                <div class="swiper-button-next icon-arrow-scroll"></div>
            </div>
        </div>
    </div>
