
    <div class="c-intro">
        <div class="o-wrap">
            <article class="o-article">
                <header>
                    <h3>Efektywna Reklama Online</h3>
                    <h2>Pozyskaj nowych <u>Klientów</u>, bez powiększania działu sprzedaży!</h2>
                </header>
                
                <div class="c-intro__photo is-mobile">
                	<img srcset="./img/intro/image.jpg 1x, ./img/intro/image@2x.jpg 2x" src="./img/intro/image.jpg" width="836" alt="">
                </div>
                
                <ol>
                    <li>Przeprowadzimy <strong>skuteczną kampanię</strong> sprzedażową w&nbsp;internecie.</li>
                    <li>Wyznaczymy ścieżkę dotarcia do klienta przy pomocy narzędzi <strong>Service Design</strong>. </li>
                    <li>Pomożemy ci spojrzeć <strong>z&nbsp;nowej perspektywy</strong> na proces sprzedaży.</li>
                </ol>
                
                <section class="o-more">
                    <span class="js-btn">
                        <a href="#actions" class="o-btn o-btn--blue js-goto">Sprawdź jak</a>
                    </span>
                    <a href="#actions" class="o-btn o-btn--white js-goto">
                        <span>Czytaj więcej</span>
                    </a>
                </section>
            </article>
            
            <div class="c-intro__photo is-desktop">
            	<img srcset="./img/intro/image.jpg 1x, ./img/intro/image@2x.jpg 2x" src="./img/intro/image.jpg" width="836" alt="">
            </div>
        </div>
    </div>
