
    <div class="c-journeymap">
            
        <article class="o-article js-fadeInChildren">
            <h3><u>Customer Journey Map</u> to narzędzie, dzięki któremu dobrze zrozumiesz swojego klienta i&nbsp;jego potrzeby.</h3>
        
            <p>Narzędzie czerpie z metodyki Service Design i pozwala zoptymalizować ścieżkę klienta, pokazując punkty styku z&nbsp;firmą. Stworzymy ją dla ciebie przed startem twojej kampanii reklamowej.</p>
        </article>
        
        <div class="o-more js-fadeIn">
            <a href="#contact" class="o-btn o-btn--blue js-goto">Skontaktuj się z nami!</a>
        </div>
    </div>
