
    <div class="c-process ">
        <div class="o-wrap">
            <article class="o-article js-fadeInChildren">
                <header>
                    <h3>Zacznijmy od podstaw!</h3>
                    <h2>Przeanalizujemy twój proces sprzedaży. Zobacz co dostaniesz na początku współpracy.</h2>
                </header>
                
                <ol>
                    <li>
                        Zidentyfikowane i&nbsp;opisane punkty styku klienta z twoją firmą w&nbsp;internecie <strong>[Customer Journey Map]</strong>
                    </li>
                    
                    <li>
                        Konsultację online dotyczącą wyzwań sprzedażowych
                    </li>
                    
                    <li>
                        Rekomendacje zmian, które przyspieszą twoją sprzedaż
                    </li>
                </ol>
            </article>
            
            <div class="c-process__oval"></div>
            
            <div class="c-process__cta js-fadeIn">
                <p>Zapytaj o&nbsp;analizę działań sprzedażowych w&nbsp;internecie i&nbsp;sprawdź co możesz ulepszyć w&nbsp;twojej firmie</p>
                <a href="#contact" class="o-btn o-btn--blue js-goto">Wyślij zapytanie</a>
            </div>
        </div>        
    </div>
