
    <div class="c-service">
        <article class="o-article js-fadeInChildren">
            
            <header>
                <h2>Czy ta usługa jest dla ciebie?</h2>
                <h5>Jeśli jesteś:</h5>
            </header>

            <ul>
                <li>managerem sprzedaży, który chce poprawić wyniki<br> swojego zespołu</li>
                <li>właścicielem firmy i szukasz optymalizacji kosztów sprzedaży</li>
                <li>startupem, który szuka skutecznych sposobów dotarcia do klientów</li>
                <li>osobą, która chce wyciągnąć maksimum ze sprzedaży w&nbsp;internecie</li>
                <li>osobą, która chce wzmocnić sprzedaż, działaniami szytymi na miarę swoich potrzeb</li>
            </ul>
            
            <h4>ta usługa jest dedykowana dla ciebie!</h4>
            
            <div class="o-more">
                <a href="#contact" class="o-btn o-btn--blue js-goto">Skontaktuj się</a>
            </div>
        </article>

        <div class="c-service__photos">
            <div class="photo-1">
            	<img srcset="./img/service/image-1.jpg 1x, ./img/service/image-1@2x.jpg 2x" src="./img/service/image-1.jpg" width="620" height="516" alt="">
            </div>
            
            <div class="photo-2">
            	<img srcset="./img/service/image-2.jpg 1x, ./img/service/image-2@2x.jpg 2x" src="./img/service/image-2.jpg" width="433" height="433" alt="">
            </div>
        </div>

<!--
       <div class="c-process__cta">
           <p>Zapytaj o analizę działań sprzedażowych w&nbsp;internecie i&nbsp;sprawdź co możesz ulepszyć w twojej firmie</p>
           <a href="#contact" class="o-btn o-btn--blue js-goto">Wyślij zapytanie</a>
       </div>
-->
       
    </div>
