
    <div class="c-top">
        <div class="o-wrap">
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/assets/logo-brandhub.svg") %> width="148" height="25" alt="BrandHub">
            </a>
            <a href="#contact" class="o-btn o-btn--blue js-goto">Skontaktuj się</a>
        </div>
    </div>
