.c-distinctions {
    margin-bottom: 60px;
    
    @media ( max-width: $smartphone_portrait + px ) {
    	margin-bottom: 30px;
    }

    figure {
        @extend %flex;
        @extend %rel;

        figcaption {
            @extend %rel;
            width: 260px; height: 260px;

            & > div {
                @extend %flex;
                @extend %flex-column;
                @extend %flex-spacebetween;
                width: 260px;
                height: 260px;
                padding: 40px 32px;
                color: white; 
            }
            
            &.blue {
                & > div {
                    background-color: $c-black-01;
                }
            }
            
            &.blue-light {
                & > div {
                    background-color: $c-blue-01;
                }
            }
            
            &.brown {
                & > div {
                    background-color: $c-brown-01;
                }
            }
            
            &.strokes {
                &:before {
                    @extend %abs;
                    @extend %abs-pseudo;
                    z-index: -1;
                    width: 305px;
                    height: 433px;
                    background: {
                        image: url(../img/assets/diagonal-strokes--brown.svg);
                        repeat: no-repeat;
                        size: contain;
                    }
                    display: none;
                }
            }            
        }
        
        p {
            line-height: 1.33;
        }
        
        .num {
            @extend %lead--6;
        }
    }
    
    .circle {
        &:after {
            @extend %abs;
            @extend %abs-pseudo;
            z-index: -1;
            object-fit: contain;
            transform: rotate(-360deg) translateX(-50%);
            opacity: 0.31;
            background-image: conic-gradient(from 0.25turn, #e09b67, #f2ebdc);
            border-radius: 50%;
        }
    }
    
    &__nav {
        @extend %flex;
        @extend %flex-y;
        padding: 70px 112px 0 112px;
        
        @media ( max-width: $tablet + px ) {
            padding: 50px 27px 0 27px;
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
            padding: 30px 27px 0 27px;
        }
        
        .arrows {
            @extend %flex;
            @extend %flex-y;
            justify-content: flex-end;
            width: 150px;
            
            @media ( max-width: $tablet + px ) {
                width: 70px;
            }
        }
        
        .swiper-pagination {
            @extend %rel;
            @extend %flex;
            width: calc(100% - 150px);
            height: 1px;
            background-color: $c-ecri-01;
            
            @media ( max-width: $tablet + px ) {
            	width: calc(100% - 70px);
            }
        }
    }
    
    .o-lead {
        &--2 {
            margin-bottom: 60px;
            
            @media ( max-width: $smartphone + px ) {
            	margin-bottom: 40px;
            }
        }
    }

    .swiper-slide {
        @extend %flex;
        width: auto;
        max-height: 474px;
        
        @media ( max-width: $tablet + px ) {
        	max-height: 418px;
        }
        
        &--01 {
            figure {
                &:after {
                    right: 175px;
                    top: 100%;
                    width: 104px;
                    height: 104px;
                    transform: translateY(-100%) translateY(-20px);
                }
            }

            figcaption {
                margin-left: -65px;
                margin-right: 55px;
            }
        }
        
        &--02 {
            figure {
                @extend %flex-end;
                flex-direction: row-reverse;
                margin-right: 55px;
                
                figcaption {
                    margin-right: -50px;
                    margin-bottom: 50px;
                    
                    &:before {
                        display: block;
                        left: 55px; top: -140px;
                    }
                }
            }
        }
        
        &--03 {
            height: 100vh;

            figure {
                align-self: center;
                
                &:after {
                    right: -110px;
                    top: -20px;
                    width: 174px;
                    height: 174px;
                }
                
                figcaption {
                    align-self: center;
                    margin-left: -45px;
                    margin-right: 55px;
                }
            }
        }
        
        &--04 {
            figure {
                @extend %flex-end;
                flex-direction: row-reverse;

                figcaption {
                    margin-right: -55px;
                    margin-bottom: 30px;
                }
            }
        }
        
        &--05 {
            height: 100vh;

            figure {
                @extend %flex-end;
                margin-bottom: 55px;
                margin-left: -35px;
                margin-right: -35px;
                
                figcaption {

                }
            }
        }
        
        &--06 {
            figure {                
                margin-right: 140px;

                figcaption {
                    margin-left: -35px;
                    margin-top: 60px;
                    
                    &:before {
                        display: block;
                        right: 30px; top: -40px;
                    }
                }
            }
        }
    }
    
    .swiper-button-next, .swiper-button-prev {
        position: relative;
        width: auto; height: auto;
        top: auto; right: auto; left: auto;
        margin: 0;
        transform: none;
        font-size: rem(12);
        color: $c-brown-01;
    }
    
    .swiper-button-next {
        margin-left: 10px;
    }
    
    .swiper-button-prev {
        &:before {
            transform: scaleX(-1);
        }
    }
    
    .swiper-pagination-bullet {
        @extend %anim;
        border-radius: 0;
        flex: 1;
        height: 1px;
        background-color: transparent;
        opacity: 0;
        
        &.swiper-pagination-bullet-active {
            background-color: $c-brown-01;
            opacity: 1;
        }
    }
}