<% include ./src/includes/head %>

<div class="o-container">

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>
    <% include ./src/includes/intro %>
    <% include ./src/includes/actions %>
    <% include ./src/includes/process %>
    <% include ./src/includes/service %>
    <% include ./src/includes/benefits %>
    <% include ./src/includes/distinctions %>
    <% include ./src/includes/journeymap %>
    <% include ./src/includes/contact %>
    
</div>

</body>
</html>


